<h1><%= @learning_object.name %></h1>

<%= link "Lista", to: Routes.learning_object_path(@conn, :index) %>

<iframe
  src="<%= embeded_yt(@learning_object.url) %>"
  width="560"
  height="315" allowtransparency="true" 
  frameborder="0">
</iframe>